name: producto
description: Compara precios y arma tu catálogo.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 3.0.7+17

environment:
  sdk: ">=2.15.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  # Firebase
  firebase_core: ^1.6.0
  firebase_auth: ^3.1.1
  firebase_analytics: ^8.0.3
  cloud_firestore: ^2.0.0
  firebase_storage: ^10.2.0
  #Google
  google_mobile_ads: ^1.0.1
  google_sign_in: ^5.1.0
  # gestor de estados
  provider: ^5.0.0
  get: ^4.6.1 # GetX es una solución potente y extraligera para Flutter. Combina la gestión del estado de alto rendimiento, la inyección inteligente de dependencias y la gestión de rutas de forma rápida y práctica.
  # storage
  get_storage: ^2.0.3 # Un valor clave rápido, extra ligero y sincrónico en la memoria, que realiza una copia de seguridad de los datos en el disco en cada operación.

  flutter_launcher_icons: ^0.9.2 #  Una herramienta de línea de comandos que simplifica la tarea de actualizar el icono de inicio de la aplicación Flutter
  liquid_swipe: ^2.1.0
  cupertino_icons: ^1.0.2 # Use with the CupertinoIcons class for iOS style icons.
  font_awesome_flutter: ^9.2.0 # El paquete Font Awesome Icon disponible como conjunto de Flutter Icons.
  cached_network_image: ^3.1.0 # Una biblioteca de aleteo para mostrar imágenes de Internet y mantenerlas en el directorio de caché.
  animated_floating_buttons: ^0.0.2 # Este paquete se basa en el tutorial de Agung Surya.
  animate_do: ^2.0.0 # Un paquete de animación inspirado en Animate.css , construido usando solo animaciones de Flutter, sin paquetes adicionales.
  url_launcher: ^6.0.12 # Un complemento de Flutter para lanzar una URL. Admite iOS, Android, web, Windows, macOS y Linux.
  shimmer: ^2.0.0 # Un paquete proporciona una manera fácil de agregar un efecto de brillo en el proyecto Flutter
  loadany: ^1.0.0 # Un nuevo Flutter carga más paquetes.
  image_picker: ^0.8.3+2 # Un complemento de Flutter para iOS y Android para seleccionar imágenes de la biblioteca de imágenes y tomar nuevas fotografías con la cámara.
  search_page: ^2.0.0+1 # Una forma rápida y sencilla de crear una experiencia de búsqueda personalizada en su aplicación.
  diacritic: ^0.1.3 # Elimina los acentos comunes y los signos diacríticos de una cadena reemplazándolos por un carácter equivalente.
  flutter_barcode_scanner: ^2.0.0 # Un complemento para las aplicaciones Flutter que agrega compatibilidad con el escaneo de códigos de barras tanto en Android como en iOS.
  clipboard: ^0.1.3 # ayuda a copiar texto al portapapeles y pegarlo desde el portapapeles
  carousel_slider: ^4.0.0 # Un control deslizante de carrusel.
  flutter_masked_text2: ^0.9.1 # Entrada de texto enmascarado para aleteo.
  screenshot: ^1.2.3 # Un paquete simple para capturar widgets como imágenes. ¡Ahora también puede capturar los widgets que no se muestran en la pantalla!
  path_provider: ^2.0.8 # Un complemento de Flutter para encontrar ubicaciones de uso común en el sistema de archivos. Soporta Android, iOS, Linux, macOS y Windows. No todos los métodos son compatibles con todas las plataformas.
  share_plus: ^3.1.0 # Un complemento de Flutter para compartir contenido desde su aplicación Flutter a través del cuadro de diálogo para compartir de la plataforma.
  simple_connection_checker: ^0.2.1 # verificar cuando el dispositivo está conectado (conectividad) a Internet. También proporcione un método para escuchar los cambios de estado de la conexión.
  uuid: ^3.0.6
  file_picker: ^4.5.1
  excel: any
  snapping_sheet: ^3.1.0 # Esta es una hoja inferior con una altura que se puede arrastrar como la aplicación Google Maps en Android.
  flutter_offline: ^2.0.0 # Una utilidad ordenada para manejar la conectividad fuera de línea/en línea como un jefe. Proporciona soporte para plataformas iOS y Android (por supuesto).

flutter_icons:
  android: true
  ios: false
  image_path: "assets/launcher.png"

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
